*{
    margin: 0;
    padding: 0;
}
.black{
    width: 100%;
    height: 93.5%;
    position: absolute;
    transform: skewY(12deg);
    transform-origin: 100%;
    background: linear-gradient(-150deg, #222222 15%, #373737 70%, #3c4859 94%);
    display: flex;    
    z-index: 0;
}
.main{
    z-index: 0;
}

.smallbox{
    display: flex;    
    justify-content:flex-end;
    flex-direction : column;
    z-index: 0;
}
.box1, .box2{
    box-shadow: 5px 1px 10px #373737;
    width: 300px;
    height: 200px;
    /* background-color: #383d45; */
    background: linear-gradient(-150deg,#363e4a ,rgb(47, 50, 62) 90%);
}
.red{
    width: 800px;
    height: 150px;
    /* background-color: #3a383889; */
    background: linear-gradient(120deg, rgb(37, 36, 36),#3a383889 65%);
    z-index: 0;
}
.red2{
    width: 500px;
    height: 200px;
    /* background-color:#39373789; */
    background:linear-gradient(120deg, rgb(46, 46, 46) 85%,#3a383889);
    align-self: flex-end;
    z-index: 0;
}
.logo{
    z-index: 1;
    position: sticky;
    width: 0px;
    height: 0px;
    display: flex;
}
.leetlogo{
    margin-top: 20px;
    margin-left:190px;
    height: 40px;
    width: 40px;
}
.letcode{
    margin-top: 20px;
    font-size: 30px;
    color: white;
    margin-left:10px;
    font-family: M-PLUS-Rounded-1c,sans-serif;
    font-weight: 300;
}
ul{
    margin-right: 20px;
    margin: 20px 450px;
    /* display: inline; */
    gap: 50px;
    display: flex;
    cursor: pointer;
    /* flex-wrap: nowrap; */
    font-family: sans-serif;
}
ul li{
    /* display: inline-block; */
    display: flex;
    white-space: nowrap;
}
li a{
    padding: 8px 15px 10px 15px;
    border-radius: 1020px;
    text-align: center;
    background-color: rgba(255, 255, 255,0);
    height: 37px;
    box-sizing: border-box;
}
ul li a{
    color: white;
    font-size: 15px;
    text-decoration: none;
}
 .active{
    color: #fea116;
    background-color: rgba(254, 161, 22,0);
    box-sizing: border-box;
    border-radius: 1020px;
}
a:hover{
    color: black;
    background-color:rgba(255, 255, 255,1) ;
    transition: all,0.5ms;
}
li a.active:hover{
    color: black;
    background-color: rgba(254, 161, 22,1);
    transition: all,0.5ms;
}
/* li:hover{
    background-color:rgba(255, 255, 255,1) ;
} */
.new{
    height: 0;
    width: 0;
    z-index: 1;;
    position: sticky;
    display: flex;
}
.im{
    margin-top:160px ;
    margin-left: 200px;
    height: 300px;
    width: 430px;
    border-radius: 50px;
    transform: rotate(350deg);
    box-shadow: 5px 1px 10px #373737;
}
.side{
    /* color: white; */
    margin-top:220px ;
    margin-left: 200px;
    white-space: nowrap;
    font-family: sans-serif;
    /* font-size: 16px; */
    text-align: center;
}
.learn{
    margin-top: 30px;
    font-size:15px;
    line-height: 30px;
    color: gray;
}
.way{
    font-size: 40px;
    color: white;
}
.create{
    color: #f8fbfc;
    background-color: #039b96;
    margin-top: 50px;
    font-size: 16px;
    padding: 7px 12px;
    border-radius: 1020px;
    font-family: sans-serif;
    letter-spacing: 0.03em;
    border: 1px solid transparent;
}
.create:hover{
    background-color: #17807d;
    text-decoration: none;
    box-shadow: none;
}
h3{
    color: #309b97;
    font-size: 20px;
    margin-top: 25px;
}
.l{
    height: 60px;
    width: 70px;
}
.white{
    margin-top: 600px;
    display: flex;
    margin-left: 100px;
    font-family: sans-serif;
}
.log{
    display: flex;
    margin-left:430px;
    gap:30px;
}
pre{
    margin-top: 30px;
    font-family: sans-serif;
    color: rgb(156, 153, 153);
    line-height: 15px;
}
.bt{
    margin-top: 30px;
    margin-left: 555px;
    color: rgb(26, 159, 237);
    letter-spacing: 0.03em;
}
a.btn:hover{
    color: rgb(97, 211, 243);

}
.mask{
    z-index: 1;
    position: relative;
    margin-left: 150px;
    width: 400px;
    height: 300px;
}
.stack{
    position: absolute;
    object-fit: cover;
    border-radius: 31px;
    box-shadow:5px 1px 5px #c9c4c4 ;
    overflow: hidden;
    /* transform:perspective(900px) rotateY(-20deg); */
    /* animation-name:infiniteupdown;
    animation-duration: 3s;
    animation-iteration-count: infinite; */
}
.yellow{
    top: 65px;
    left: 0;
    z-index: 2;
    animation-name:infiniupdown;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
}
.green{
    left: 50px;
    z-index: 3;
    width: 200px;
    height: 240px;
    top: 40px;
    /* opacity: 1; */
    animation-name:infinitupdown;
    animation-duration: 4s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
}
.blue{
    top: 0; 
    left: 100px; 
    z-index: 4;
    width: 280px;
    height: 300px;
    animation-name:infiniteupdown;
    animation-duration: 5s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
}
@keyframes infiniteupdown{
    0%{
        transform:perspective(900px) rotateY(-20deg) translateY(0px);
    }
    50%{
        transform:perspective(900px) rotateY(-20deg) translateY(-15px);
    }
    100%{
        transform:perspective(900px) rotateY(-20deg) translateY(0px);
    }
}
@keyframes infinitupdown{
    0%{
        transform:perspective(900px) rotateY(-20deg) translateY(0px);
    }
    50%{
        transform:perspective(900px) rotateY(-20deg) translateY(-10px);
    }
    100%{
        transform:perspective(900px) rotateY(-20deg) translateY(0px);
    }
}
@keyframes infiniupdown{
    0%{
        transform:perspective(900px) rotateY(-20deg) translateY(0px);
    }
    50%{
        transform:perspective(900px) rotateY(-20deg) translateY(-5px);
    }
    100%{
        transform:perspective(900px) rotateY(-20deg) translateY(0px);        
    }
}



