*{
    margin: 0;
}
.black{
    width: 100%;
    /* height: 93.5%; */
    height: 680px;
    position: absolute;
    transform: skewY(12deg);
    transform-origin: 100%;
    background: linear-gradient(-150deg, #222222 15%, #373737 70%, #3c4859 94%);
    display: flex;    
    z-index: 0;
}
@media (max-width: 767px) {
   .abox3,.bbox2,.red,.red2,.leetlogo,.letcode,.active,.kk,nav,.logo{
    display: none;
   }
   .black{
    height: 575px;
   }
   .side .way{
    /* margin-top: -100px; */
    margin:-9rem auto;
   }
   .new .side .learn{
    max-width: 87%;
    margin: 11rem auto 2rem auto;
   }
   .dev .developer{
    max-width: 87%;
   }
   .create{
    margin: 2vw auto;
   }
}
@media (max-width:470px) {
    .dev .developer{
        max-width:97% ;
    }
}
@media (max-width:990px) {
    .im{
        display: none;
    }
    nav .logo{
        gap:5%;
    }
    .side .learn{
        max-width: 65%;
    }
    .new .side{
        margin-top: 190px;
    }
}
@media (max-width:1100px) {
    .main .new{
        gap:0;
    }
    .new .im{
        margin-left:7vw;
    }
    
}
.main{
    z-index: 0;
}

.smallbox{
    display: flex;   
    justify-content:flex-end;
    flex-direction : column;
    z-index: 0;
}
.abox3,.bbox2{
    box-shadow: 2px 1px 10px #373636;
    width: 17vw;
    height: 28%;
    position: relative;
    z-index: 0;
    background: linear-gradient(-150deg,#363e4a ,rgb(47, 50, 62) 90%);
}
.red{
    width:71vw;
    height:23%;
    /* background-color: #3a383889; */
    background: linear-gradient(120deg, rgb(37, 36, 36),#3a383889 65%);
    z-index: 0;
}
.red2{
    width: 40vw;
    height: 30%;
    /* background-color:#39373789; */
    background:linear-gradient(120deg, rgb(46, 46, 46) 85%,#3a383889);
    align-self: flex-end;
    z-index: 0;
}
.logo{
    z-index: 1;
    position: absolute;
    width: 100%;
    height: 6vw;
    display: flex;
    /* margin: 1vw 3vw; */
    justify-content: center;
    align-items: center;
    gap: 25%;
}
.leetlogo{
    /* margin-top: 20px; */
    /* margin-left:10vw; */
    height: 40px;
    width: 40px;
}
.letcode{
    /* margin-top: 20px; */
    font-size: 30px;
    color: white;
    margin-left:10px;
    font-family: M-PLUS-Rounded-1c,sans-serif;
    font-weight: 300;
}
.kkkk{
    display: flex;
}
ul{
    /* margin-top: 20px; */
    /* text-align: center; */
    /* margin-left: 20vw; */
    /* margin-right:10vw ; */
    /* display: inline; */
    /* gap: 50px; */
    display: flex;
    cursor: pointer;
    /* flex-wrap: nowrap; */
    font-family: sans-serif;
}
ul li{
    /* display: inline-block; */
    display: flex;
    white-space: nowrap;
}
li a{
    padding: 8px 15px;
    border-radius: 1020px;
    justify-content: space-between;
    margin: 1vw;
    text-align: center;
    background-color: rgba(255, 255, 255,0);
    height: 37px;
    box-sizing: border-box;
    /* margin: 10px; */
    /* max-width: 60vw; */
}
ul li a{
    color: white;
    font-size: 1rem;
    text-decoration: none;
}
 .active{
    color: #fea116;
    background-color: rgba(254, 161, 22,0);
    box-sizing: border-box;
    border-radius: 1020px;
}
a:hover{
    color: black;
    background-color:rgba(255, 255, 255,1) ;
    transition: all,0.5ms;
}
li a.active:hover{
    color: black;
    background-color: rgba(254, 161, 22,1);
    transition: all,0.5ms;
}
/* li:hover{
    background-color:rgba(255, 255, 255,1) ;
} */
.new{
    height: 0;
    width: 100%;
    z-index: 1;;
    position: relative;
    display: flex;
    /* align-items: center; */
    justify-content: center;
    /* gap:10%; */
    text-align: center;
    /* margin: 0 2rem 0 0; */
}
.im{
    /* margin: 160px auto; */
    /* margin-left: 200px; */
    margin-top: 11.5rem;
    height: 300px;
    width: 430px;
    margin-left: 13vw;
    /* position: relative; */
    box-sizing: border-box;
    border-radius: 25px;
    transform: rotate(350deg);
    box-shadow: 5px 1px 10px #373737;
    /* margin:13rem 0 0 15rem; */
}
.side{
    font-family: sans-serif;
    /* font-size: 16px; */
    text-align: center;
    margin-top: 14rem;
    width: 100%;
    position: relative;
    box-sizing: border-box;
    max-width: 90vw;

}
.learn{
    font-size:1rem;
    line-height:2rem;
    color: gray;
    display: flex;
    /* margin: 2rem auto; */
    max-width: 35vw;
    justify-content: center;
    box-sizing: border-box;
    align-items: center;
    margin: 2.5rem auto;
}
.way{
    font-size: 40px;
    color: white;
    /* display: flex; */
    margin:0 auto;
    max-width: 70rem;
    justify-content: center;
    box-sizing: border-box;
    align-items: center;
}
.create{
    color: #f8fbfc;
    background-color: #039b96;
    margin-top: -1rem;
    font-size: 16px;
    padding: 7px 12px;
    border-radius: 1020px;
    font-family: sans-serif;
    letter-spacing: 0.03em;
    border: 1px solid transparent;
    cursor: pointer;
}
.create:hover{
    background-color: #17807d;
    text-decoration: none;
    box-shadow: none;
}
.exp{
    color: #309b97;
    font-size: 20px;
    margin-top: 25px;
    z-index: 2;
}
.explor{
    margin-top: 2vw;
}
.l{
    height: 60px;
    width: 70px;
    z-index: 2;
}
.write{
    z-index: 2;
    position: relative;
}
.white{
    margin-top: 600px;
    display: flex;
    /* position: relative; */
    justify-content: space-evenly;
    /* margin-left: 100px; */
    font-family: sans-serif;
}
.log{
    display: flex;
    /* margin-left:430px; */
    justify-content: flex-end;
    gap:5%;
}
.xo{
    margin-top: 30px;
    font-family: sans-serif;
    text-align: end;
    color: rgb(156, 153, 153);
    line-height: 2rem;
    max-width: 34vw;
    z-index: 2;
}
.bt{
    margin-top: 30px;
    /* margin-left: 555px; */
    text-align: end;
    color: rgb(26, 159, 237);
    letter-spacing: 0.03em;
    cursor: pointer;
    z-index: 3;
    position: relative;
}
@media (max-width:1200px) {
    .xo{
        max-width: 50vw;
    }
}
@media (max-width:970px) {
    .white{
        margin-top: 520px;
    }
    .xo{
        margin-top: 3.5rem;
    }
    .mask .blue{
        left:50px;
    }
    .mask .green{
        top: 20px;
        left: 40px;
    }
    .mask .yellow{
        top: 40px;
        left: 30px;
    }
}
@media (max-width:767px) {
    .white{
        margin-top: 20rem;
        flex-direction: column-reverse;
        justify-content: center;
    }
    .explor{
        margin-top: 2rem auto;
        text-align: center;
    }
    .l{
        display: none;
        margin: 2rem;
    }
    .log{
        justify-content: center;
        margin: 2rem auto;
        max-width: 90%;
    }
    .write .xo{
        text-align: center;
        max-width: 90%;
        margin: 2rem auto;
    } 
    .btn{
        /* margin-right:50%; */
        text-align: center;
        display: flex;
        justify-content: center;
        /* margin: 0 auto; */
    }
    .mask{
        margin: 0rem auto -1rem auto;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .mask .blue{
        width:220px;
        height: 250px;
        left: 60px;
    }
    .mask .green{
        width:200px;
        height:220px;
        top: 20px;
        left: 40px;
    }
    .mask .yellow{
        width: 180px;
        height: 180px;
        top: 40px;
        left: 20px;
    }
    .exp{
        margin-top: -2rem;
    }
    
}
@media (max-width:650px){
    .exp{
        margin-top: -2rem;
    }
    .mask{
        margin-top: 1rem;
    }
}
@media (max-width:440px){
    .mask{
        margin-top: 6rem ;
    }
}
a.btn:hover{
    color: rgb(97, 211, 243);

}
.mask{
    z-index: 1;
    position: relative;
    /* margin-left: 150px; */
    display: flex;
    /* margin-right: 150px; */
    width: 400px;
    height: 300px;
}
.stack{
    position: absolute;
    object-fit: cover;
    border-radius: 31px;
    box-shadow:5px 1px 5px #c9c4c4 ;
    overflow: hidden;
    /* transform:perspective(900px) rotateY(-20deg); */
    /* animation-name:infiniteupdown;
    animation-duration: 3s;
    animation-iteration-count: infinite; */
}
.yellow{
    top: 65px;
    left: 0;
    z-index: 2;
    animation-name:infiniupdown;
    animation-duration: 6s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
}
.green{
    left: 50px;
    z-index: 3;
    width: 200px;
    height: 240px;
    top: 40px;
    /* opacity: 1; */
    animation-name:infinitupdown;
    animation-duration: 6s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
}
.blue{
    top: 0; 
    left: 100px; 
    z-index: 4;
    width: 280px;
    height: 300px;
    animation-name:infiniteupdown;
    animation-duration: 6s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
}
@keyframes infiniteupdown{
    0%{
        transform:perspective(900px) rotateY(-20deg) translateY(0px);
    }
    50%{
        transform:perspective(900px) rotateY(-20deg) translateY(-15px);
    }
    100%{
        transform:perspective(900px) rotateY(-20deg) translateY(0px);
    }
}
@keyframes infinitupdown{
    0%{
        transform:perspective(900px) rotateY(-20deg) translateY(0px);
    }
    50%{
        transform:perspective(900px) rotateY(-20deg) translateY(-12px);
    }
    100%{
        transform:perspective(900px) rotateY(-20deg) translateY(0px);
    }
}
@keyframes infiniupdown{
    0%{
        transform:perspective(900px) rotateY(-20deg) translateY(0px);
    }
    50%{
        transform:perspective(900px) rotateY(-20deg) translateY(-9px);
    }
    100%{
        transform:perspective(900px) rotateY(-20deg) translateY(0px);        
    }
}
.grey1{
    background-color: rgb(247, 249, 252);
    width: 100%;
    /* height: 100%; */
    height: 680px;
    position: absolute;
    z-index: 0;
    transform: skewY(-12deg);
    margin-top:10px;
}
.grey2{
    background-color: rgb(247, 249, 252);
    width: 100%;
    height: 100%;
    position: absolute;
    margin-top: 180px;
    z-index: 0;
    height: 1110px;
}
.enq{
    position: sticky;
    z-index: 1;
    width: 100%;
    height: 0;
    display: flex;
    justify-content: center;
    margin:auto ;
}
.line2{
        margin-top: 80px;
        /* display: flex; */
        /* margin-left: 40px; */
        width: 2px;
        height: 350px;
        background-color: #ffffff;
        position: absolute;
        z-index: 4;
    }
.three{
    margin-top: 100px;
    display: flex;
    justify-content: center;
    box-sizing: border-box;
    position:relative;
    /* margin-left: 15vw; */
    /* margin-left: 180px; */
}
.a1 ,.a2,.a3{
    width:70px;
    height:60px;
    position: absolute;
    object-fit: cover;
    overflow: hidden;
}
.a1{
    left:100px;
    z-index: 2;
}
.a2{
    left:50px ;
    z-index: 3;
}
.a3{
    left: 0;
    z-index: 4;
}
.two{
    margin-top: 100px;
    display: flex;
    justify-content: center;
    box-sizing: border-box;
    position: relative;
    /* margin-left: 30px; */
    margin-left: 0vw;
}
.b1,.b2{
    width:70px;
    height:60px;
    position: absolute;
    object-fit: cover;
    overflow: hidden;
}
.b1{
    left:100px;
    z-index: 2;
}
.b2{
    left:50px ;
    z-index: 3;
}
.contest{
    font-family: sans-serif;
    margin-top: 100px;
    /* margin-left: 180px; */
    /* white-space: nowrap; */
    color: #60b4f5;
    font-size: 22px;
    font-weight: 500;
    max-width: 60rem;
    display: flex;
    text-align: start;
    justify-content: flex-start;
    margin:6rem auto 2rem auto;

}
.que{
    margin-left:15vw;
    width: 50%;
    z-index: 2;
    position: sticky;
    text-align: end;

}
.para{
    font-family: sans-serif;
    /* margin-top: 30px; */
    display: flex;
    max-width: 30.5rem;
    justify-content: flex-start;
    box-sizing: border-box;
    /* margin-left: 180px; */
    /* white-space: nowrap; */
    line-height: 30px;
    letter-spacing: 0.05em;
    margin:2rem 3vw 2rem auto;
    text-align: start;
    font-size: 0.9rem;
    color: rgb(167, 168, 168);
    /* font-size: 15px; */
}
.view{
    font-family: sans-serif;
    /* margin-top: 30px; */
    display: flex;
    justify-content: flex-start;
    text-align: start;
    box-sizing: border-box;
    /* margin-left: 180px; */
    line-height: 50px;
    cursor: pointer;
    color: #0a8bee;
    letter-spacing: 0.03em;
    margin:2rem auto 2rem auto;
    /* font-size: 15px; */
}
.view:hover{
    color: #60b4f5;
    background-color: transparent;
}
.com{
    z-index: 2;
    position: sticky;
    width: 50%;
    height: 0;
    /* display: flex; */
    text-align: start;
    margin-right: 15vw;
}
.candi{
    font-family: sans-serif;
    margin:6rem auto 2rem 3vw;
    /* margin-left: 80px; */
    display: flex;
    /* justify-content: center; */
    align-items: start;
    /* white-space: nowrap; */
    color: #60b4f5;
    max-width: 60rem;
    color: rgb(183, 137, 43);
    font-size: 22px;
    box-sizing: border-box;
    font-weight: 500;
}
.para2{
    font-family: sans-serif;
    margin-top: 30px;
    /* margin-left: 80px; */
    /* white-space: nowrap; */
    margin-right: -80px;
    line-height: 30px;
    display: flex;
    box-sizing: border-box;
    max-width: 30.5rem;
    text-align: start;
    /* justify-content: center; */
    /* align-items: center; */
    font-size: 0.9rem;
    letter-spacing: 0.05em;
    color: rgb(167, 168, 168);
    /* font-size: 15px; */
    margin: 2rem auto 2rem 3vw;
}
.oppor{
    font-family: sans-serif;
    /* margin: 2rem auto; */
    /* margin-left: 80px; */
    margin: 2rem auto 2rem 3vw;
    display: flex;
    box-sizing: border-box;
    /* justify-content: center; */
    line-height: 50px;
    cursor: pointer;
    color: #0a8bee;
    letter-spacing: 0.03em;
}
.oppor:hover{
    color: #60b4f5;
    background-color: transparent;
}
@media (max-width:1100px) {
    .dev .develop{
        margin-top: 550px;
    }
    .que{
        margin-left: 7vw;
    }
    .com{
        margin-right: 7vw;
    }
}
@media (max-width:430px) {
    .que .three{
        margin-top: 8rem;
    }
}
@media (max-width:767px) {
    .line1 .line2{
        display: none;
    }
    .enq{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .que{
        margin-top: 25rem;
        text-align: center;
        justify-content: center;
        align-items: center;
        margin-left: 0;
        width: 100%;
    }
    .three{
        display: flex;
        width: 100%;
        justify-content: center;
        align-items: center;
        margin-bottom: 5rem;
        margin-top: 2rem;
    }
    .three .a1{
        display: flex;
        justify-content: center;
        align-items: center;
        left: auto;
        margin-left: 100px;
    }
    .three .a2{
        display: flex;
        justify-content: center;
        align-items: center;
        left:auto;
    }
    .three .a3{
        display: flex;
        justify-content: center;
        align-items: center;
        left:auto;
        margin-left: -100px;
    }
    .contest{
        margin-top: -2rem;
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
    }
    .para{
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        box-sizing: border-box;
        margin: 2rem auto;
        max-width:90%;
        margin-bottom: 0.5rem;
    }
    .view{
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        margin: 0 auto;
    }
    .com{
        /* margin-top: 25rem; */
        text-align: center;
        justify-content: center;
        align-items: center;
        margin-right: 0;
        width: 100%;
    }
    .two{
        display: flex;
        width: 100%;
        justify-content: center;
        align-items: center;
        margin-bottom: 5rem;
        margin-top: 4rem;
    }
    .two .b1{
        display: flex;
        justify-content: center;
        align-items: center;
        left: auto;
        margin-left: 50px;
    }
    .two .b2{
        display: flex;
        justify-content: center;
        align-items: center;
        left:auto;
        margin-left: -50px;
    }
    .candi{
        margin-top: -2rem;
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        margin-left: 0;
    }
    .para2{
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        box-sizing: border-box;
        margin: 2rem auto;
        max-width:90%;
        margin-bottom: 0.5rem;
        /* margin-right: 0; */
    }
    .oppor{
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        margin: 0 auto;
        margin-left: 0;
        margin: auto;
    }
    .dev{
        margin-top: 9rem;
    }
}
@media (max-width:640px) {
    .dev{
        margin-top: 12rem;
    }
}
@media (max-width:430px) {
    .dev{
        margin-top: 18rem;
    }
}
@media (max-width:340px) {
    .dev{
        margin-top: 22rem;
    }
}
.dev{
    z-index: 2;
    position: sticky;
    width: 100%;
    height: 0;
    text-align: center;
    /* align-items: center; */
    /* margin-top: 525px; */
}
.develop{
    margin-top: 525px;
    width: 70px;
    height: 60px;
    /* margin-left: 725px; */
}
.devel{
    /* margin-left: 707px; */
    /* text-align: center; */
    margin-top: 25px;
    font-family: sans-serif;
    font-size: 1.375rem;
    color: rgb(64, 174, 172);
}
.developer{
    margin-top: 1.875rem;
    font-family: sans-serif;
    font-size: 1rem;
    /* padding: 0 1em; */
    max-width: 40rem;
    margin: 2rem auto;
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing:border-box;
    text-align: center;
    line-height: 1.875rem;
    color: rgb(168, 167, 167);
    letter-spacing: 0.03em;
}
.box11{
    margin-top: 2rem;
    position: relative;
    z-index: 1;
    width:100%;
    height: 0;
    display: flex;
    justify-content: center;
    align-self: center;
}
.box1{
    margin-top: 800px;
    position: relative;
    /* margin-left: 280px; */
    z-index: 2;
}
@media (max-width:1150px) {
    .box11 .box1 .box{
        width: 600px;
    }
    .box .up-box{
        width: 600px;
    }
    .box .low-box{
        width: 600px;
    }
    .box .code-box{
        width: 580px;
    }
    .box .c-code{
        width: 600px;
    }
    .up-box .copy{
    margin-left: 235px;
    }
}
/* @media (max-width:640px){
    .grey{
        margin-top:-10rem;
        position: relative;
    }
}
@media (max-width:430px){
    .grey{
        margin-top:-15rem;
        position: relative;
    }
}
@media (max-width:340px){
    .grey{
        margin-top:-20rem;
        position: relative;
    }
} */
@media (max-width:950px) {
    .box11 .box1 .box{
        width: 500px;
    }
    .box .up-box{
        width: 500px;
    }
    .box .low-box{
        width: 500px;
    }
    .box .code-box{
        width: 480px;
    }
    .box .c-code{
        width: 500px;
    }
    .up-box .copy{
    margin-left: 135px;
    }
}
@media (max-width:767px) {
    .d2,.d3,.small-line,.aa{
        display:none;
    }
    .box11{
        flex-direction: column-reverse;
        gap:20px;
        justify-content: flex-end;
        align-items: center;
    }
    .box1{
        margin-top: 0;
    }
    .d1{
        width: 100%;
    }
    .four .d1 .c1{
        width:95vw;
        display: flex;
        align-items: center;
    }
    .box11 .four{
        margin-left: 0px;
    }
    .box1{
        width:100%;
        max-width: 80rem;
        margin: auto;
        display: flex;
        position: relative;
        align-items: center;
        justify-content: center;
        box-sizing: border-box;
    }
    .box11 .box1 .box{
        width: 95%;
    }
    .box .up-box{
        width: 100%;
    }
    .box .low-box{
        width: 100%;
    }
    .box .code-box{
        width: 95%;
    }
    .box .c-code{
        width: 100%;
    }
    .up-box .copy{
    margin-left: auto;
    }
    .Playground{
        margin-right: 5px;
    }
    .grey{
        margin-top: -8rem;
        position: relative;
    }
    .grey2{
        height: 1300px;
    }
}
@media (max-width:640px){
    .grey{
        margin-top:-10rem;
        position: relative;
    }
    .grey2{
        height: 1330px;
    }
}
@media (max-width:430px){
    .grey{
        margin-top:-15rem;
        position: relative;
    }
    .d1{
        margin-top: 3rem;
    }
    .grey2{
        height: 1450px;
    }
}
@media (max-width:360px) {
   .up-box .copy{
       width: 40px;
       text-align: center;
    }
    .d1{
        margin-top: 5rem;
    }
    .up-box .run{
        width: 20px;
    }
    .up-box .python{
        display: none;
    }
    .grey2{
        height: 1470px;
    }
}
@media (max-width:340px){
    .grey{
        margin-top:-20rem;
        position: relative;
    }
    .grey2{
        height: 1550px;
    }
}
.box{
    max-width: 60rem;
    height: 400px;
    width: 800px;
    /* background-color: #ffffff; */
    background-color: rgb(222, 220, 220);
    position: relative;
    border-radius: 5px;
}
.up-box{
    height: 40px;
    width: 800px;
    background-color: rgb(222, 220, 220);
    border-radius: 5px;
    /* border-bottom-right-radius: 5px; */
    position: relative;
    display: flex;
}
.low-box{
    /* margin-top: 0px; */
    height: 360px;
    width: 800px;
    background-color: #ffffff;
    border-bottom-right-radius: 5px;
}
.code-box{
    width: 780px;
    height: 360px;
    margin-left: 20px;
    background-color: white;
    border-bottom-right-radius: 5px;
    position: relative;
    z-index: 0;
    margin-top: -360px;
}
.number-box{
    /* margin-top: 40px; */
    width: 20px;
    height: 360px;
    /* background-color: rgb(183, 181, 181); */
    background-color: rgb(239, 237, 237);
    border-bottom-left-radius: 5px;
    position: relative;
    z-index: 0;
    margin-top: -360px;
}

.c-code{
    position: relative;
    z-index: 2;
    overflow: auto;
    width: 800px;
    height: 360px;
    font-size: 12px;
    color: black;
    letter-spacing: 0.12em;
    word-spacing: 0.1rem;
}
.four{
    margin-top: 800px;
    position: relative;
    display: flex;
    flex-direction: column;
    margin-left: 20px;
    /* z-index: 2; */
}
.c1{
    background-color: white;
    height: 40px;
    width: 150px;
    max-width: 60rem;
    text-align: start;
    border-radius: 5px;
    border: 0.5px solid rgb(204, 201, 201);
    box-shadow: 2px 2px 5px rgb(199, 196, 196);
    color:#17807d;
    letter-spacing: 0.1em;
    font-family: sans-serif;
    padding: 10px;
    cursor: pointer;
}
.c1:hover{
    color: #65d6f6;
}
.c2{
    background-color:transparent;
    margin-top: 5px;
    height: 40px;
    width: 150px;
    text-align: left;
    border-radius: 5px;
    border: transparent;
    color:#0a8bee;
    letter-spacing: 0.1em;
    font-family: sans-serif;
    padding: 10px;
    cursor: pointer;
}
.c2:hover{
    color: #65d6f6;
}
.c3{
    background-color:transparent;
    margin-top: 5px;
    height: 40px;
    width: 150px;
    text-align: left;
    border-radius: 5px;
    border: transparent;
    color:#0a8bee;
    letter-spacing: 0.1em;
    font-family: sans-serif;
    padding: 10px;
    cursor: pointer;
}
.c3:hover{
    color: #65d6f6;
}
.liii{
    width: 150px;
    height: 1px;
    margin-top: 20px;
    margin-bottom: 30px;
    margin-left: 0px;
    background-color:rgb(199, 196, 196);

}
.aa{
    background-color:transparent;
    text-align: left;
    border-radius: 5px;
    border: transparent;
    color:#0a8bee;
    padding: 10px;
    font-family: sans-serif;
    font-size: 13px;
    letter-spacing: 0.1em;
    cursor: pointer;
}
.aa:hover{
    background-color: transparent;
    color: #65d6f6;
}
.c{
   height: 33px;
   width: 50px;
   margin-top: 7px; 
   margin-left: 7px;
   /* position: relative; */
   background-color: white;
   border: transparent;
   border-top-left-radius: 3px;
   cursor: pointer;
}
.c:hover{
    background-color: rgb(232, 227, 227);
    border: 1px solid rgb(194, 192, 192);
}
.Java{
    height: 33px;
    width: 50px;
    /* position: relative; */
    margin-top: 7px; 
    margin-left: -5px;
    background-color:rgb(222, 220, 220);
    border: 1px solid rgb(194, 192, 192);
    cursor: pointer;
 }
 .Java:hover{
    background-color: rgb(232, 227, 227);
    border: 1px solid rgb(194, 192, 192);
 }
 .python{
    height: 33px;
    width: 50px;
    margin-top: 7px; 
    margin-left: -5px;
    /* position: relative; */
    background-color:rgb(222, 220, 220);
    border: 1px solid rgb(194, 192, 192);
    border-top-right-radius: 3px;
    cursor: pointer;
 }
 .python:hover{   
    background-color: rgb(232, 227, 227);
    border: 1px solid rgb(194, 192, 192);
 }
 .copy{
    height: 30px;
    width: 60px;
    position: relative;
    align-self: center;
    border-radius: 5px;
    border: 1px solid rgb(194, 192, 192);
    background-color: white;
    margin-left: 435px;
    margin-right: 5px;
    cursor: pointer;
 }
 .copy:hover{
    background-color: rgb(199, 196, 196);
 }
 .Run{
    height: 30px;
    width: 60px;
    align-self: center;
    border-radius: 5px;
    border: 1px solid rgb(194, 192, 192);
    background-color:#30af30;
    color: white;
    margin-right: 5px;
    cursor: pointer;
 }
 .Run:hover{
    background-color: rgb(68, 157, 68);
 }
 .Playground{
    height: 30px;
    width: 80px;
    align-self: center;
    border-radius: 5px;
    border: 1px solid rgb(194, 192, 192);
    background-color:black;
    color: white;
    cursor: pointer;
 }
 .Playground:hover{
    background-color: rgb(46, 45, 45);
 }
 .po{
    margin-top: 1259px;
    background-color: white;
    height: 500px;
    width: 100%;
    z-index: 2;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
 }
.red-logo{
    z-index: 2;
    margin-top: -15.1rem;
    position: sticky;
    /* margin-left: 730px; */
}
.red-w{
    /* margin-left: 660px; */
    line-height: 80px;
    font-size: 2rem;
    font-family: sans-serif;
    color: red;
    font-weight: 600;
}
.para4{
    /* margin-left: 450px; */
    /* margin-top: -10px; */
    display: flex;
    /* width: 60vw; */
    width: 95vw;
    white-space: wrap;
    max-width: 40rem;
    margin: 0.8rem auto;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    text-align: center;
    line-height: 30px;
    font-size: 16px;
    letter-spacing: 0.03em;
    font-family: sans-serif;
    color: rgb(199, 194, 194);
}
@media (max-width:767px) {
    .red-logo{
        margin-top: 8.7rem;
    }  
}
@media (max-width:640px) {
    .red-logo{
        margin-top: 14.5rem;
    }  
}
@media (max-width:466px) {
    .red-logo{
        margin-top: 16.25rem;
    }  
}
@media (max-width:430px) {
    .red-logo{
        margin-top: 30.5rem;
    }  
}
@media (max-width:376px) {
    .red-logo{
        margin-top: 33.25rem;
    }  
}
@media (max-width:360px) {
    .red-logo{
        margin-top: 35.25rem;
    }  
}
@media (max-width:350px) {
    .red-logo{
        margin-top: 38.25rem;
    }  
}
@media (max-width:345px) {
    .red-logo{
        margin-top: 35.2rem;
    }  
}
@media (max-width:340px) {
    .red-logo{
        margin-top: 45.25rem;
    }  
}
@media (max-width:330px) {
    .red-logo{
        margin-top: 47.25rem;
    }  
}
.all{
    text-align: center;
    display: flex;
    margin:1rem;
    justify-content: center;
    align-items: center;
}
.all-logo{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    max-width: 60rem;
    /* width: 95vw; */
    margin:-218px auto 2rem;
    /* margin-left: 250px; */
    /* margin-right: 250px; */
    /* margin-top: -200px; */
}
@media (max-width:767px) {
    .all-logo{
        margin-top: -30px;
    }
}
@media (max-width:640px) {
    .all-logo{
        margin-top: 40px;
    }
}
@media (max-width:430px) {
    .all-logo{
        margin-top: 180px;
    }
}
@media (max-width:376px) {
    .all-logo{
        margin-top: 210px;
    }
}
@media (max-width:350px) {
    .all-logo{
        margin-top: 250px;
    }
}
@media (max-width:340px) {
    .all-logo{
        margin-top: 320px;
    }
}
.face{
    width: 130px;
    /* height: 130px; */
    /* filter: grayscale(80%); */
    /* fill: rgb(106, 103, 103);  */
    filter: invert(50%) opacity(60%);
}
.leap{
    width: 80px;
    /* height: 80px; */
    filter: invert(50%) opacity(60%);
}
.apple{
    width: 40px;
    /* height: 40px; */
    filter: invert(50%) opacity(60%);
}
.uber{
    width: 60px;
    /* height: 60px; */
    filter: invert(50%) opacity(60%);
}
.square{
    width: 60px;
    /* height: 60px; */
    filter: invert(50%) opacity(60%);
}
.jet{
    width: 60px;
    /* height: 30px; */
    filter: invert(50%) opacity(60%);
}
.intel{
    width: 60px;
    /* height: 60px; */
    filter: invert(50%) opacity(60%);
}
.amazon{
    width: 100px;
    /* height: 100px; */
    filter: invert(50%) opacity(60%);
}
.bank{
    width: 200px;
    /* height: 100px; */
    filter: invert(50%) opacity(60%);
}
.pin{
    width: 100px;
    /* height: 100px; */
    filter: invert(50%) opacity(60%);
}
.cisco{
    width: 100px;
    /* height: 100px; */
    filter: invert(50%) opacity(60%);
}

.stripe{
    width: 70px;
    /* height: 70px; */
    filter: invert(50%) opacity(60%);
}
@media (max-width:767px) {
    .face{
        width: 100px;
    }
    .leap{
        width: 50px;
    }
    .apple{
        width: 30px;
    }
    .uber,.square,.jet ,.intel, .stripe{
        width: 45px;
    }
    .amazon,.cisco{
        width: 70px;
    }
    .bank{
        width: 150px;
    }
}
.line-4{
    height: 1px;
    width: 600px;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(227, 225, 225);
    position: relative;
    /* margin-left: 460px; */
    margin-top: 1rem;
}
@media (max-width:767px) {
    .line-4{
        width: 90vw;
    }
}
.last{
    text-align: center;
    margin-top: 70px;
    color: rgb(193, 189, 189);
    font-family: sans-serif;
    font-size: 17px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin:4rem auto;
    max-width: 40rem;
    line-height: 2rem;
}
@media (max-width:767px) {
    .last{
        width: 90vw;
    }
}
.lassst{
    color: #0a8bee;
    /* margin-left: 720px; */
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: -3rem auto 2rem;
    text-decoration: none;
    line-height: 80px;
    letter-spacing: 0.03em;
    cursor: pointer;
}
.lasst{
    height: 1px;
    width: 80vw;
    background-color: rgb(205, 204, 204);
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    /* margin-left: 170px; */
    /* margin-top: 40px; */
}
.at-last{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    margin-top: -10px;
    margin-bottom: 20px;
    /* margin-left: 170px; */
    font-size: 16px;
    flex-direction: row;
    max-width: 60rem;
}
.at{
    /* white-space: none; */
    margin-top: 30px;
    margin-left: 5vw;
    font-size: 13px;
    font-family: sans-serif;
    color: rgb(156, 153, 153);
}
.Happy{
    /* margin-left: 350px; */
    font-size: 13px;
    margin-top: 30px;
    margin-left: 20vw;
    font-family: sans-serif;
    color: rgb(156, 153, 153);
}
.end-last{
    font-size: 13px;
    margin-top: 30px;
    margin-left:2vw;
    font-family: sans-serif;
    color: rgb(156, 153, 153);
}
@media (max-width:950px) {
    .at-last{
        flex-direction: column;
    }
    .Happy{
        margin-top: 5px;
        margin-left: 0;
    }
    .end-last{
        margin-top: 5px;
        margin-left: 0;
    }
    .at{
        margin-left: 0;
    }
}




